/* Global styles */
html {
  font-family: "Poppins", sans-serif;
  background-color:rgb(233, 239, 208)
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  cursor: pointer;
}

/* Welcome section styles */
.welcome {
  font-size: large;
  max-width: 90%;
  margin: 50px auto;
  padding: 30px;
  background-color: rgb(196, 228, 177);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

/* Recipe container styles */
.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  margin: 30px;
}

.selection-heading {
  margin-left: 30px;
}

/* Card styles */
.card {
  max-width: 300px;
  border: solid 1px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(218, 186, 186);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: antiquewhite;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.recipe-title {
  text-align: center;
  padding: 2px 16px;
}

/* Recipe details container styles */
.recipe-details-container {
  max-width: 90%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "image"
    "ingredients"
    "directions"
    "resources";
}

.recipe-details-title {
  font-size: 30px;
  grid-area: title;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.recipe-details-image {
  grid-area: image;
  display: flex;
  justify-content: center;
}

.recipe-details-image img {
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

.recipe-details-ingredients {
  grid-area: ingredients;
  font-size: large;
}

.recipe-details-directions {
  font-size: large;
  grid-area: directions;
}

.recipe-details-resources {
  grid-area: resources;
}

/* Mobile styles */
@media (max-width: 767px) {
  .welcome {
    grid-template-columns: 1fr;
  }

  .recipe-container {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: none;
    margin: 20px auto;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .welcome {
    grid-template-columns: 1fr;
  }

  .recipe-container {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: none;
    margin: 20px auto;
  }
}




