@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
html {
  font-family:"Poppins", sans-serif;
  background-color: rgb(225, 234, 239);
}
.card {
    max-width: 30%;
    border: solid 1 px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
}
.card img {
    max-width: 100%;
    height: auto;
}
